.badgeContainer {
  float: left;
  position: absolute;
  top: 215px;
  left: 5px;
}

.card p,
.card h3 {
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.postContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
